@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* screens: {
    sm: '480px',
    md: '768px',
    lg: '976px',
    xl: '1440px',
  }, */
  .container {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
}
